<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>
    CRM
    {% block title %}
    {% endblock %}
</title>
<head>
    <style>
        .gangster {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding-right: 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 100%;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>