{% extends 'base.html' %}
{% block title %}
    Home
    {% block crm_title %}
    {% endblock crm_title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <a class="gangster" href="{% url 'crm_app:home' %}">Home</a>
    <a class="gangster" href="{% url 'crm_app:gangster_create' %}">Create Gangster</a><br>
    
    {% block crm_body %}
    {% for gangster in gangsters %}
        <div class="gangster">
            <a href="{% url 'crm_app:gangster_detail' pk=gangster.pk %}">{{ gangster }}</a>
        </div>
    {% endfor %}
    {% endblock crm_body %}

{% endblock body %}